<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asyncbase</title>
    <link rel="icon" href="/img/asyncbase.png" type="image/png">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">  
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />  
</head>
<body>
    <div class="bg-[url('/img/background.png')] bg-contain bg-top bg-no-repeat">
        <%- include('partials/navbar') %>
        <%- body %>
        <%- include('partials/footer') %>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 800,
        });
    </script>
</body>
</html>