<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

<footer class="bg-[#265073] border-b-2 py-1 pt-7 z-10 mt-auto">
    <div class="container mx-auto">
        <div class="flex flex-wrap gap-4 lg:gap-20 justify-center pb-4">
            <div class="w-[45%] lg:w-[15%]">
                <div class="border-b-2 border-slate-400 py-2">
                    <p class="text-sm md:text-xl text-white lg:text-center font-medium">About Us</p>
                </div>
                <div class="py-3">
                    <p class="text-xxs md:text-sm text-white lg:text-center font-medium">Qubisa Learn is a website course that contains programming materials and video tutorials in the scope of Programming, and Cyber Security</p>
                </div>
            </div>
            <div class="w-[45%] lg:w-[15%]">
                <div class="border-b-2 border-slate-400 py-2">
                    <p class="text-sm lg:text-xl text-white font-medium">Top Course</p>
                </div>
                <div class="py-3 flex flex-col gap-3">
                    <p class="text-xxs lg:text-sm text-white font-medium">Front-End Development</p>
                    <p class="text-xxs lg:text-sm text-white font-medium">Back-End Development</p>
                    <p class="text-xxs lg:text-sm text-white font-medium">UI/UX Design</p>
                    <p class="text-xxs lg:text-sm text-white font-medium">Cyber Security</p>
                </div>
            </div>
            <div class="w-[45%] lg:w-[15%]">
                <div class="border-b-2 border-slate-400 py-2">
                    <p class="text-sm md:text-xl text-white font-medium">Why choice Qubisa?</p>
                </div>
                <div class="py-3 flex flex-col gap-3">
                    <p class="text-xxs lg:text-sm text-white font-medium">Online Course</p>
                    <p class="text-xxs lg:text-sm text-white font-medium">Expert Instructor</p>
                    <p class="text-xxs lg:text-sm text-white font-medium">Lifetime Access</p>
                </div>
            </div>
            <div class="w-[45%] lg:w-[17%]">
                <div class="border-b-2 border-slate-400 py-2">
                    <p class="text-sm md:text-xl text-white font-medium">Contact</p>
                </div> 
                <div class="py-3 flex flex-col gap-3">
                    <p class="text-xxs lg:text-sm text-white font-medium"> <i class="bi bi-geo-alt-fill me-2"></i> Surabaya</p>
                    <p class="text-xxs lg:text-sm text-white font-medium"> <i class="bi bi-envelope-fill me-2"></i> qubisa@gmail.com</p>
                    <p class="text-xxs lg:text-sm text-white font-medium"> <i class="bi bi-telephone-fill me-2"></i> +62909993921</p>
                </div>
            </div>
        </div>
        <hr class="w-[88%] mx-auto h-0.5 bg-slate-400 border-0">
        <div class="pt-4">
            <p class="text-center text-white text-sm lg:text-md font-medium lg:font-semibold">All rights Reserved By : Qubisa Learn <NAME></p>
        </div>
        <div class="flex justify-center gap-5 py-4">
            <a href="http://instagram.com/prbtmaa" target="_blank"><i class="bi bi-instagram text-sm text-white lg:text-xl"></i></a>
            <i class="bi bi-twitter-x text-sm text-white lg:text-xl"></i>
            <i class="bi bi-facebook text-sm text-white lg:text-xl"></i>
        </div>
    </div>
</footer>