<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

<footer class="bg-[#DB1A5A] border-b-2 py-10 pt-16 z-10 px-4 md:px-0">
    <div class="mx-auto md:px-28">
        <div class="flex flex-wrap gap-4 lg:gap-20 justify-start md:justify-center pb-4">
            <div class="w-full lg:w-[15%]">
                <img src="/img/logo-footer.png" alt="...">
                <div class="flex mt-5 gap-3">
                    <p><i class="bi bi-twitter-x text-xl text-white"></i></p>
                    <p><i class="bi bi-github text-xl text-white"></i></p>
                    <p><i class="bi bi-discord text-xl text-white"></i></p>
                    <p><i class="bi bi-youtube text-xl text-white"></i></p>
                </div>
            </div>
            <div class="w-[30%] lg:w-[15%]">
                <div class="py-2">
                    <p class="text-sm lg:text-xl text-white font-medium">Products</p>
                </div>
                <div class="py-3 flex flex-col gap-3">
                    <p class="text-xs lg:text-base text-white">Database</p>
                    <p class="text-xs lg:text-base text-white">Authentication</p>
                    <p class="text-xs lg:text-base text-white">Function</p>
                    <p class="text-xs lg:text-base text-white">Dashboard</p>
                    <p class="text-xs lg:text-base text-white">Realtime</p>
                    <p class="text-xs lg:text-base text-white">Storage</p>
                    <p class="text-xs lg:text-base text-white">Pricing</p>
                </div>
            </div>
            <div class="w-[30%] lg:w-[15%]">
                <div class="py-2">
                    <p class="text-sm lg:text-xl text-white font-medium">Resource</p>
                </div>
                <div class="py-3 flex flex-col gap-3">
                    <p class="text-xs lg:text-base text-white">Support</p>
                    <p class="text-xs lg:text-base text-white">System-radius</p>
                    <p class="text-xs lg:text-base text-white">Becamone </p>
                    <p class="text-xs lg:text-base text-white">Infrastuktur</p>
                    <p class="text-xs lg:text-base text-white">Integrations</p>
                    <p class="text-xs lg:text-base text-white">Experts</p>
                    <p class="text-xs lg:text-base text-white">Security</p>
                    <p class="text-xs lg:text-base text-white">Brand</p>
                </div>
            </div>
            <div class="w-[30%] lg:w-[17%]">
                <div class="py-2">
                    <p class="text-sm lg:text-xl text-white font-medium">Developers</p>
                </div>
                <div class="py-3 flex flex-col gap-3">
                    <p class="text-xs lg:text-base text-white">Documentation</p>
                    <p class="text-xs lg:text-base text-white">Changelog</p>
                    <p class="text-xs lg:text-base text-white">Contribute </p>
                    <p class="text-xs lg:text-base text-white">Open Source</p>
                    <p class="text-xs lg:text-base text-white">#asyncomrades</p>
                    <p class="text-xs lg:text-base text-white">DevTo</p>
                    <p class="text-xs lg:text-base text-white">RSS</p>
                </div>
            </div>
            <div class="w-[45%] lg:w-[17%]">
                <div class="py-2">
                    <p class="text-sm lg:text-xl text-white font-medium">Company</p>
                </div>
                <div class="py-3 flex flex-col gap-3">
                    <p class="text-xs lg:text-base text-white">Blog</p>
                    <p class="text-xs lg:text-base text-white">Customer Service</p>
                    <p class="text-xs lg:text-base text-white">Careers</p>
                    <p class="text-xs lg:text-base text-white">Company Profile</p>
                    <p class="text-xs lg:text-base text-white">Headquarter</p>
                    <p class="text-xs lg:text-base text-white">Terms of Service</p>
                    <p class="text-xs lg:text-base text-white">Privacy Policy/p>
                </div>
            </div>
        </div>
        <div>
            <p class="text-center text-white mt-5">Ⓒ asyncbase by E-Code HIMIT PENS</p>
        </div>
    </div>
</footer>