<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

<header id="header" class="bg-transparent border-b-2 border-white py-2 sticky top-0 z-50">
    <nav class="flex justify-between items-center w-[92%] mx-auto py-3 lg:py-0 px-3 lg:px-10">
        <div class="flex items-center gap-4">
            <div>
                <img class="w-32 cursor-pointer duration-300" src="/img/logo.png" alt="logo">
            </div>
            <div class="nav-links scale-0 md:static absolute md:scale-100 duration-300 md:min-h-fit min-h-[20vh] left-0 md:w-auto md:top-0 top-[78px] py-4 w-full h-screen md:h-full lg:flex items-center px-5 bg-white md:bg-transparent border-b-2 border-gray-400 rounded-b-md md:border-none">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-4 lg:gap-10 ">
                    <div class="flex lg:hidden justify-evenly gap-5">
                        <div class="p-2 px-10 rounded-md border-2 border-[#901840] bg-[#DB1A5A]">
                            <a class="text-white font-medium duration-200">Get Started</a>
                        </div>
                        <div class="p-2 px-10 rounded-md border-2 border-[#BCC6D2]">
                            <a class="text-[#4A4A4A] font-semibold duration-200">Register</a>
                        </div>
                    </div>
                    <li>
                        <a class="text-[#5D646D] font-medium duration-200" href="/">Docs</a>
                    </li>
                    <li>
                        <a class="text-[#5D646D] font-medium duration-200" href="/#about">Comunity</a>
                    </li>
                    <li>
                        <a class="text-[#5D646D] font-medium duration-200" href="/course">Blog</a>
                    </li>
                    <li>
                        <a class="text-[#5D646D] font-medium duration-200" href="/changelog">Changelog</a>
                    </li>
                    <li>
                        <a class="text-[#5D646D] font-medium duration-200" href="/pricing">Pricing</a>
                    </li>
                </ul>
                <div class="">
                    <p class="text-gray-700 font-bold text-center md:hidden mt-[95%]"><i class="bi bi-star mr-1 text-gray-500"></i>Star on Github</p>
                </div>
            </div>
        </div>
        <div class="lg:flex inline-flex items-center gap-3 md:gap-5">
            <div>
                <p class="text-gray-700 font-bold hidden md:block"><i class="bi bi-star mr-1 text-gray-500"></i>Star on Github</p>
            </div>
            <div id="start-your-project">
                <button class="p-2 px-3 bg-[#DB1A5A] text-white rounded-md font-medium text-sm md:text-base duration-300">Start your project</button>
            </div>
            <div>
                <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
        </div>
    </nav>
</header>



<script>
    const header = document.querySelector('#header');
    const navLinks = document.querySelector('.nav-links')
    const startYourProject = document.querySelector('#start-your-project');
    function onToggleMenu(e){
        e.name = e.name === 'menu' ? 'close' : 'menu'
        navLinks.classList.toggle('scale-100');
        startYourProject.classList.toggle('scale-0');
        header.classList.toggle('bg-white');
    };

    window.addEventListener('scroll', function() {
    if (window.scrollY > 100) {
        header.classList.add('bg-white');
        header.classList.remove('bg-transparant');
    } else {
        header.classList.remove('bg-white');
        header.classList.add('bg-transparant');
    }
});

</script>